

@charset "UTF-8";//解决中文注释问题;

//引入底层库;
@import '~/scss/_variables.scss';
@import '~/scss/base.scss';
 
//默认初始化;
@include base($content:1000);


body {
    color: $white;
    background: no-repeat center {
        image: url('../../assets/hrGlass.jpg');
        size: cover;
    }
    :global {
        .MuiInput-root-10, .MuiFormLabel-root-35 {
            color: $white; 
        }
    }
}

.home-top {
    width: 328px;
    margin: auto;
    padding: 10px;
    & &-location {
        margin-right: 25px;
    }
}
.bus-content {
    @include clear;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .4);
    width: 95%;
    margin: auto;
    border-radius: 5px;
    .bus-info {
        width: 520px;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        margin: auto;
        .lineNo {
            font-size: 32px;
        }
        &-content {
            p:first-child {
                font-size: 22px;
                i {
                    padding: 0 10px;
                    font-size: 32px;
                    line-height: 1;
                    vertical-align: -5px;
                    
                }
            }
        }
        .transfrom {
            font-size: 18px;
            i {
                margin-right: 5px;
            }
        }
    }
    .bus-site {
        li {
            width: 28px;
            height: 250px;
            color: #333;
            text-align: center;
            box-sizing: border-box;
            margin: 0 2px;
            padding: 0 2px;
            float: left;
            font-size: 15px;
            line-height: 1.3;
            cursor: pointer;
            span {
                writing-mode: tb-lp;
            }
        }
        li.active {
            color: $blue;
        }
        .no-bus {
            padding: 20px;
            font-size: 18px;
            text-align: center;
        }
    }
}

.reach-info {
    width: 95%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px auto;
    background: rgba(255, 255, 255, .4);
    font-size: 14px;
}